<h1>Admin Posts</h1>
<%= search_form_for @q, url: admin_posts_path, method: :get do |f| %>
  <div class="field">
    <%= f.label :title_cont, 'Title' %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :content_cont, 'Content' %>
    <%= f.text_field :content_cont %>
  </div>
  <div class="actions">
    <%= f.submit 'Search' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
